/* set some basic CSS for NextGEN Download Gallery */

.ngg-download-frm hr {
  display: block;
  float: none;
  clear: both;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  margin: 1em auto;
}

#primary #main input.temp {
  background-color: #ebebeb !important;
}
#primary #main input.temp::after {
  display: none;
}
